@keyframes input-visible {
  0% {
    left: -100vw;
  }

  100% {
    left:0;
  }
}

@-webkit-keyframes input-visible {
  0% {
    left: -100vw;
  }

  100% {
    left:0;
  }
}

@keyframes input-hidden {
  0% {
    left: 0;
  }

  100% {
    left:-100vw;
  }
}

@-webkit-keyframes input-hidden {
  0% {
    left: 0;
  }

  100% {
    left:-100vw;
  }
}

@keyframes results-visible {
  0% {
    left: 100vw;
  }

  100% {
    left:0;
  }
}

@-webkit-keyframes results-visible {
  0% {
    left: 100vw;
  }

  100% {
    left:0;
  }
}

@keyframes results-hidden {
  0% {
    left: 0;
  }

  100% {
    left:100vw;
  }
}

@-webkit-keyframes results-hidden {
  0% {
    left: 0;
  }

  100% {
    left:100vw;
  }
}
@keyframes tabs-visible {
  0% {
    bottom: -77vh;
  }

  100% {
    bottom: 0;
  }
}

@-webkit-keyframes tabs-visible {
  0% {
    bottom: -77vh;
  }

  100% {
    bottom: 0;
  }
}

@keyframes tabs-hidden {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -77vh;
  }
}

@-webkit-keyframes tabs-hidden {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -77vh;
  }
}

